.scroll-chat {
  background-image: url("../../img/chat-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 11000vh;
  max-height: 72vh;
  padding: 0;
}

.scroll-chat .alt-header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0px var(--horizontal-space);
  padding-top: 10px;
}

.scroll-chat .alt-header:before {
  content: "";
  position: absolute; /* set the pseudo-element to absolute position */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/chat-background.jpg");
  background-size: cover;
  opacity: 0.95; /* set the opacity to control the transparency of the background image */
  z-index: -1; /* set the z-index to make sure the background image appears behind the header */
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 13px;
  margin-bottom: 25px;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px var(--horizontal-space);
  animation: fadeIn 0.8s linear forwards;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 10px;
}

.message-row--own {
  justify-content: flex-end;
}

.message__info {
  display: flex;
  align-items: end;
}

.message_author {
  color: #756b5a;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 17px;
}

.message-row--own .message__bubble {
  background-color: #ff758c;
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message__time {
  color: #756b5a;
  font-size: 12px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.reply i {
  color: #756b5a;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -10px;
  top: 2px;
}

.reply__column:last-child > i {
  top: 8.5px;
  right: 40px;
}

.reply__column button {
  background-color: #ff758c;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  color: black;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 70vw;
  transform: translateX(-15%);
}
