#friends-display-link {
  text-align: center;
  display: block;
  padding: 10px 0px;
  font-weight: 500;
  color: #756b5a;
  font-size: 14px;
}

#friends-display-link i {
  color: #dfd9c9;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #8b8065;
}

@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: #bdddc8;
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.8s ease-in-out forwards;
  animation-delay: 1.5s;
}

#splash-screen img {
  width: 150px;
}
