.badge {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5acbc3;
  border-style: solid;
  border-width: 4px;
  border-color: #f8f5e6;
  color: white;
  font-weight: 600;
}
