@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 2px solid #dedacf;
  background-color: #f8f5e6;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.nav__link__selected-image {
  animation: bounce 1.5s infinite;
}

.nav__notification {
  position: absolute;
  left: 30px;
  bottom: 35px;
}

.nav__notification__selected {
  position: absolute;
  left: 30px;
  bottom: 35px;
  animation: bounce 1.5s infinite;
  z-index: 1;
}
