.body--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen {
  width: 85%;
  height: 85vh;
  background-color: #f8f5e6;
  border-radius: 60px;
  overflow-y: scroll;
  padding-bottom: 50px;
  position: relative;
}
